<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--Navbar-->
    <nav class="pl-5 pr-5 navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

        <!-- Navbar brand -->
        <a class="navbar-brand font-weight-bold" href="{% url 'art' %}">smaTIQS Gallery</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link bg bg-transparent" href="{% url 'art' %}">Feeds<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                </li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Locations
                </a>
                </li>
            </ul>

    

            <form class="form-inline" action="">
                <div class="md-form my-1">
                    <input class="form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search"
                        name="keyword">
                        <i  class="fas fa-search text-white p-3 mb-2 bg-dark" type="submit"></i>
                </div>

            </form>
        </div>
        <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
</body>

</html>